/* colors */

* {
  al:      #00000000;
  bgl:     #d8dee9ff;
  fg:      #4c566aff;
  se:      #09090Aff;
  bg:      #a9b1d6ff;
  ac:      #3b4252ff;
  red:     #d95468ff;
  green:   #8bd49cff;
  grs:     #81a1c1ff;
  yellow:  #ebbf83ff;
  blue:    #539afcff;
  dblue:   #5e81acff;
  purple:  #b62d65ff;
  cyan:    #3b4252ff;
}
