* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Iosevka, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window,
#workspaces {
    margin: 0px;
}

#custom-nixos,
#workspaces button {
    padding: 7px 7px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#custom-nixos {
    box-shadow: inset 0 -3px #88c0d0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

.modules-right {
}

#tray {
    padding: 0 7px 0 15px;
    border-radius: 20%;
}

#network,
#cpu,
#memory,
#clock {
    padding-right: 7px;
    font-size: 13px;
}

.modules-right
{
    border-radius: 10% 0 0 10%;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 -3px transparent;
}
